*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.wraper{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(6, 6, 6, 0.074);
}

.frame{
    position: relative;
    width: 1600px;
    height: 950px;
    background: linear-gradient(360deg, rgba(20, 20, 20, 0.2) 26.97%, rgba(103, 103, 103, 0.126718) 63.98%, rgba(103, 103, 103, 0) 86.59%), #919bf6;
    border-radius: 30px;
    box-shadow: 0px 0px 50px rgba(131, 143, 250, 1);
}

.text{
    position: absolute;
    left: 450px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    color: whitesmoke;
    text-shadow: 0px 0px 25px #ffb26f;
    z-index: 7;
    animation: 5s anim-lineUp ease-out;
}

.text h1{
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.2em;
    margin-top: 400px;
    margin-bottom: 20px;
}

.text h2{
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
}

@keyframes anim-lineUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    20% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


.sun{
    position: absolute;
    top: 90px;
    left: 380px;
    width: 175px;
    height: 175px;
    background: #F2C94C;
    border: 12px solid #F2994A;
    border-radius: 50%;
    box-shadow: 0px 0px 70px #F2994A;

    transform: scale(1);
    
    animation: anime1 10s linear forwards, pulse 4s ease infinite;
}

@keyframes anime1 {
    0% {
        top: 50%;
        left: 5%;
    }
    50%{
        left: 10%;
    }
    100% {
        top: 8%;
        left: 20%;
    }
}
@keyframes pulse {
    0% {
        transform: scale(0.90);
    }

    50% {
        transform: scale(1);
        box-shadow: 0px 0px 100px #F2994A;
    }

    100% {
        transform: scale(0.90);
    }
}

.hill0 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 1600px;
    height: 1000px;
    border-radius: 30px;
    z-index: 6;
}

.hill1 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 900px;
    z-index: 5;
    border-radius: 30px;
}

.hill2 {
    position: absolute;
    bottom: 0px;
    left: 300px;
    height: 850px;
    z-index: 4;
}

.hill3 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 1200px;
    z-index: 3;
    border-radius: 30px;
    transform: scaleX(-1);
}




.flower{
    position: absolute;
    box-shadow: 0px 0px 10px rgba(172, 255, 47, 0.122);
    z-index: 7;
    animation: fl-spinning 5s ease-in-out infinite;
}

@keyframes fl-spinning {
    0%{
        rotate: 0deg;
    }
    50%{
        rotate: 180deg;
    }
    100%{
        rotate: 360deg;
    }
}



.b-flower1{ bottom: 70px; left: 45px;}
.b-flower2{ bottom: 140px; right: 170px;}
.b-flower3{ bottom: 120px; left: 500px;}
 
.w-flower1{ bottom: 130px; right: 250px;}
.w-flower2{ bottom: 170px; left: 140px;}
.w-flower3{ bottom: 70px; right: 990px;}
.w-flower4{ bottom: 340px; left: 350px;}
.w-flower5{ bottom: 270px; left: 750px;}

.p-flower1{ bottom: 140px; right: 970px;}
.p-flower2{ bottom: 150px; right: 573px;}
.p-flower3{ bottom: 370px; right: 900px;}
.p-flower4{ bottom: 230px; right: 80px;}
.p-flower5{ bottom: 220px; left: 350px;}
.p-flower6{ bottom: 35px; left: 140px;}
.p-flower7{ bottom: 200px; left: 70px;}

.f-flower1{ bottom: 340px; left: 250px;}
.f-flower2{ bottom: 310px; right: 400px;}
.f-flower3{ bottom: 160px; right: 40px;}
.f-flower4{ bottom: 100px; right: 220px;}
.f-flower5{ bottom: 120px; right: 540px;}

.o-flower1{ bottom: 100px; right: 900px;}
.o-flower2{ bottom: 100px; left: 175px;}
.o-flower3{ bottom: 390px; left: 345px;}
.o-flower4{ bottom: 280px; right: 470px;}


.smoke1 {
    position: absolute;
    top: 100px;
    left: 100px;
    width: 500px;
    z-index: 8;
}

.smoke2 {
    position: absolute;
    top: 220px;
    left: 90px;
    width: 600px;
    z-index: 8;
}

.smoke3 {
    position: absolute;
    top: 10px;
    right: 90px;
    width: 800px;
    z-index: 8;
}

.smoke4 {
    position: absolute;
    top: 60px;
    right: 90px;
    width: 600px;
    z-index: 8;
}

.smoke5 {
    position: absolute;
    top: 0px;
    left: 400px;
    width: 400px;
    z-index: 8;
}

.smoke6 {
    position: absolute;
    top: 0px;
    left: 400px;
    width: 400px;
    z-index: 8;
}

.smoke7 {
    position: absolute;
    top: -40px;
    left: -150px;
    width: 400px;
    z-index: 6;
}

.smoke8 {
    position: absolute;
    top: 0px;
    right: -150px;
    width: 400px;
    z-index: 6;
}
.smoke1, .smoke2, .smoke3, .smoke4, .smoke5, .smoke6, .smoke7, .smoke8 {
    position: absolute;
    animation: anime3 100s linear 5s infinite;
}

@keyframes anime3 {
    to{
        left: 100%;
    }
}

.dark {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: rgba(13, 19, 24, 0.6);
    border-radius: 30px;
    animation: anime2 10s linear forwards;
}

@keyframes anime2 {
    0% {
        background: rgba(13, 19, 24, 0.7);
    }

    100% {
        background: rgba(13, 19, 24, 0);
    }
}

/*.bottom{
    position: absolute;
    width: 1600px;
    height: 154px;
    left: 0px;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(0, 215, 189, 0.5) 0%, rgba(213, 213, 213, 0) 100%), #97C1FF;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.right-mountain{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 0;
    width: 0;
    border-right: 300px solid transparent;
    border-bottom: 500px solid #24ae5d;
    border-left: 400px solid transparent;
    border-bottom-right-radius: 30px;

}*/







/*

.birds {
    position: absolute;
    left: -15%;
    top: 20%;
    width: 140px;
    height: 70px;
    animation: anime4 10s linear forwards;
    z-index: 4;
}

@keyframes anime4 {
    0% {
        left: -15%;
        top: 20%;
    }

    35% {
        top: 40%;
    }

    100% {
        left: 120%;
        top: 20%;
    }
}


*/